/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.main-apple-cover-section {
  position: relative;
  text-align: center;
  color: #FFFFFF;
}

/* Centered text */
.main-apple-cover-section > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-apple-content-section > p {
  font-size: 20px;
  color: #424242;
  line-height: 1.5;

}

.main-apple-cover-section > img {
  width: 100%;
  object-fit: cover;
  clip-path: inset(20% 0 20% 0); /* Adjusted to remove white edges on top and bottom */
  margin: -20% 0; /* Negative margin to compensate for clipped areas */
  margin-bottom: -10%;
  padding: 0;
}


.main-page-title {
  font-size: 64px;
}

.main-apple-content-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.main-apple-content-section > h2 {
  font-size: 20px;
  font-weight: semi-bold;
  color: #000000;
  margin: 2rem 0;
}

.main-apple-content-section > ul {
  list-style-type: "- ";
  color: #424242;
  line-height: 1.5;
}

.main-apple-content-section > ol {
  list-style-type: none;
  counter-reset: list;
  color: #424242;
  line-height: 1.5;
}

.main-apple-content-section > ol li {
  counter-increment: list;
}

.main-apple-content-section > ol li::before {
  content: counter(list) ") ";
}

.recipe-info-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 75px;
}

.cooking-info-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}

.break-line {
  width: 100%;
  border-top: 1.5px solid #424242;
  margin: 20px auto; /* Adjust margin to position the line */
}

/* STYLES */
/* Write your CSS below */
